.search{
	display:flex;
	justify-content: center;
	margin-top: 20px;
    margin-bottom: 15px;
    padding-bottom: 0px;
    flex-wrap:wrap;
}

.searchStuff{
    display:flex;
    flex-direction: column;
}

.form-control{
    width: 60%;
    height: 40px;
    margin-right: 30px;
}

.checkBoxes{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto auto 30px 85px;
}

.likeBox{
    margin: 10px 0px auto 20px;
}

.viewBox{
    margin: 10px 0px auto 10px;
}

.checkBoxes h4{
    margin-top: 3px;
}

.btn{
    margin-right: 20px;
    width: 150px;
}

.btn:focus{
    outline: none;
}
