.borderThumb{
    margin: 20px 100px 20px 100px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    text-align: center;
}

.scoresThumb{
    display: flex;
    align-content: space-between;
    align-items: flex-start;
    margin-right: 90%;
}

.titleThumb{
    font-size: 120%;
    width: 130%;
}

.scoresThumb > i{
    margin: auto 10px auto 30px;
    width: 130%;
}
