.borderThumb{
    margin: 20px 100px 20px 100px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    text-align: center;
}

.scoresThumb{
    display: flex;
    align-content: space-between;
    align-items: flex-start;
    margin-right: 50%;
}

.titleThumb{
    font-size: 120%;
    width: 130%;
    transition: color .6s;
}


.scoresThumb > i{
    margin: auto 5px auto 30px;
    width: 130%;
}

.inv-button{
    background-color: white;
    border: none;
    width: 80px;
}

.inv-button:focus{
    outline: none;
}

.inv-button:hover{
    cursor: pointer;
}

.imgThumb{
    border-radius: 15px;
}

.titleThumb:hover, .imgThumb:hover{
    cursor: pointer;
    color: rgba(47, 23, 182, 0.705);
}

.fa-heart, .fa-eye{
    margin-right: 5px;
}
